[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
uwsgi = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
format = "bash -c 'black src'"
